*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: #303a49;
  background-color: #e9ecef;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "sidebar content content";
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 7px 7px 15px 0px rgba(181, 193, 204, 0.8),
              -7px -7px 15px 0px rgba(181, 193, 204, 0.8);
}

.app__content {
  grid-area: content;
  min-height: calc(100vh - 80px);
  background-color: #b5c1cc;
}