.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header header"
    "sidebar content content";
  max-width: 1200px;
  margin: 0 auto;
}

.app__content {
  grid-area: content;
  background-color: lightseagreen;
}