.block {
  display: flex;
  height: 100%;
  padding: 2em;
  background-color: #b5c1cc;
}

.block ul {
  background-color: #fff;
  border-radius: 20px;
}

.dialogList {
  width: 350px;
  margin: 0 2em 0 0;
  padding: 10px 10px 10px 50px;
}

.messageList {
  flex-grow: 1;
  margin: 0;
  padding: 10px;
  list-style: none;
}