.block {
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "logo wrapper wrapper";
  height: 80px;
  background-color: #fff;
}

.wrapper {
  grid-area: wrapper;
  padding: 0 2em;
}

.wrapper input {
  width: 350px;
  padding: 7px 20px;
  font: inherit;
  border: 1px solid #b5c1cc;
  border-radius: 20px;
}

.wrapper input:hover {
  box-shadow: 1px 1px 6px 0 #b5c1cc,
              -1px -1px 6px 0 #b5c1cc;
}

.wrapper input:focus {
  border-color: #61DAFB;
  box-shadow: none;
  outline: none;
}

.logo {
  height: 100%;
  grid-area: logo;
}

.logo img {
  display: block;
  max-width: 100%;
}