.block {
  display: flex;
  height: 100%;
  padding: 2em;
  background-color: #b5c1cc;
}

.block ul {
  margin: 0;
  padding: 0;
}

.left {
  width: 350px;
  margin: 0 2em 0 0;
  padding: 10px 10px 10px 35px;
  background-color: #fff;
  border-radius: 20px;
}

.right {
  flex-grow: 1;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
}
