.sidebar {
  grid-area: sidebar;
  background-color: navy;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: #fff;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: lightgreen;
}