.block {
  grid-area: sidebar;
  background-color: #fff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
}

.active {
  color: #61DAFB;
  border-right: 2px solid #61DAFB;
}